.new-comment-block {
  margin-top: 20px;
  text-align: center;
  display: flex;
  gap: 20px;
}

#new-comment {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  margin-bottom: 10px;
}

#add-comment-button {
  background-color: #ed9220;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}
